* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {  
  background-color:#d2eaf1;
  background-image: url("./cardboard-flat.png");
  background-position: cover;
}

nav {
  display: flex;
  background-color:#ffff;
  background-image: url("./45-degree-fabric-light.png");
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(121, 121, 121, 0.596);
  width: 90%;
  margin: auto;
  align-items: center;
  padding: 0.5rem;
  margin-top: 50px;
}

.link {
  color: #121212;
}

.link:hover {
  text-decoration: underline;
}

.link:active {
  font-size: 1.1rem;
}


.book-list {
  background-color: #ffffff;
  background-image: url("./45-degree-fabric-light.png");
  box-shadow: 0 0 10px 5px rgba(121, 121, 121, 0.596);
  width: 90%;
  margin: auto;
  min-height: 70vh;
  overflow-y: auto;
}

form {
  background-color: #ffffff;
  background-image: url("./45-degree-fabric-light.png");
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(121, 121, 121, 0.596);
  width: 90%;
  margin: auto;
  min-height: 10vh;
  display: flex;
  align-items: center;
}

form h2 {
  color: #97b3cb;
}